// ui/menus/_menus.scss

@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.menu{
    margin: 1rem auto;
    padding: 2rem;
    background-color: v.$secundario;
    border-radius: 1rem;
    border: 1px solid v.$rosaOscuro;
    box-shadow: 0px 0px 2.6rem -0.8rem color.adjust(v.$grisClaro, $lightness: -30%);
    @include m.tablet {
        margin: 5rem auto;
        padding: 5rem;
    }

    &__contenido{
        display: flex;
        flex-direction: column;
        @include m.tablet {
            margin: 0 auto;
            align-self: stretch;
            padding-bottom: 1rem;
    
        }
        @include m.desktop {
            margin: 0rem auto;
            align-self: stretch;
            justify-content: center; 
        }
    }
    
    &__title{
        
        font-size: 2rem;
        font-weight: 600;
        
        @include m.tablet {
            font-size: 3rem;
        }
        @include m.desktop {
            font-size: 3.8rem;
        
        }
        
    }
    &__imagen{
        margin: 2rem auto;
        max-width: 15rem;
        border-radius: 1rem;
        box-shadow: 0px 0px 2.6rem -0.8rem color.adjust(v.$grisClaro, $lightness: -30%);
        border: 1px solid v.$rosaOscuro;
        margin-bottom: 2rem;
        @include m.tablet {
            max-width: 30rem;
            max-height: 30rem;
            
        }
        @include m.desktop {
            max-width: 40rem;
            max-height: 40rem;
            min-width: 40rem;
            

        }
    }
    &__flex{
        
        display: flex;
        flex-direction: column;
        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 3rem;
            gap: 4rem;
        }
        @include m.desktop{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 3rem;
        }   
    }
    
    &__receta{
        font-size: 1.6rem;
        line-height: 1.2;

        @include m.tablet {
            font-size: 1.7rem;
            line-height: 1.5;
        }
        @include m.desktop {
            margin-right: 12rem;
            font-size: 1.9rem;
            line-height: 1.5; 
        }
        

    }
    &__receta-foorer{
        padding-top: 1rem;
        line-height: 1.3;
        font-size: 1.6rem;
        @include m.tablet {
            line-height: 1.5;
            font-size: 1.7rem;
        }
        @include m.desktop {
            line-height: 1.5;
            font-size: 1.9rem;
        }
    }
    &__receta-una-mano{
        padding-top: 1rem;
    }
    &__receta-comentario{
        position: relative;
        color: v.$rosaOscuro;
        font-size: 1.8rem;
        font-weight: 600;

        @include m.tablet {
            font-size: 1.9rem;
        }
        @include m.desktop {
            padding-top: 2rem;
            font-size: 2rem;
        }
       
    }


}