@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.navegacion {
    background-color: v.$negro;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 1rem 0;
    border-block: 3.5px dashed v.$blanco;
    
    // Zigzag border effect using pseudo-elements
    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 10px;
        background-size: 20px 20px;
        background-repeat: repeat-x;
    }


    &__contenido {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center; // Centrado
        align-items: center;
        padding: 0;
        gap: 3rem;

        @media (max-width: v.$tablet) {
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }
    }

    &__link {
        color: v.$blanco;
        text-decoration: none;
        font-weight: 900; 
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 1px;
        transition: color v.$transition-default;

        @media (max-width: v.$tablet) {
            font-size: 0.85rem;
        }

        &:hover,
        &--active {
            color: v.$primario;
        }
    }
    
}
