
@forward 'relatos';
@forward 'botones';
@forward 'blog';
@forward 'redes';
@forward 'latido';
@forward 'buscador_recetas_cocina';
@forward 'recetas-cocina';
@forward 'consejos';
@forward 'entrenos';

